<div class="container mx-auto px-4">
  <h3 class="text-3xl">My Heroes</h3>
  <ul>
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)"
        class="cursor-pointer"
    >
      <span>{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>

  <div *ngIf="selectedHero" class="p-6">
    <h4 class="text-2xl">{{selectedHero.name | uppercase}} Details</h4>
    <div><span>id: {{selectedHero.id}}</span></div>
    <div>
      <label for="hero-name">name:
        <input type="text" id="hero-name" [(ngModel)]="selectedHero.name"
               class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </label>
    </div>
  </div>
</div>
